<div class="container mt-2">
  <div class="row">
    <div class="col">
      <a routerLink="/add" class="btn btn-dark btn-sm" style="margin-bottom: 10px;"><i class="fa-solid fa-plus"></i> Add A New Book</a>
    </div>
    <hr />
  </div>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let book of books$ | async">
      <div class="card">
        <img src="{{book.img}}" style="width: auto; height: auto;" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ book.author }}</li>
            <li class="list-group-item">{{ book.cost }} €</li>
          </ul>
        </div>
        <div class="card-body">
          <a class="btn btn-dark btn-sm" [routerLink]="['/edit', book.id]"><i class="fa-solid fa-pen-to-square"></i></a> |
          <button class="btn btn-danger btn-sm" (click)="openDeleteModal(book.id)"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this Book?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="confirmDelete()">Confirm Delete</button>
      </div>
    </div>
  </div>
</div>